header{
    background-color: #5893a5;
    padding: 30px;
    padding-right: 50px;
    text-align: right;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header img{
    width: 250px;
    position: relative;
    float: left;
    margin-top: -10px;
    margin-left: 15px;
    padding: 0px;
    cursor: pointer;
}

header a{
    color: #000529;
    margin-right: 10px;
    font-size: 22px;
}

header a:hover{
    color: #f9fff3;
}

body {
    top: 0;
    margin: 0;
    font-family: poppins;
    background-color: #f9fff3;
}

.listkonser table{
    margin: 0 auto;
}

.listkonser table td{
    padding-left: 10px;
    margin: -1px;
    height: 60px;
}

/* .listkonser table td{
    padding-left: 10px;
    top: 0px;
} */


.posterkonser{
    width: 150px;
    padding: 5px;
}