header{
    background-color: #5893a5;
    padding: 30px;
    padding-right: 50px;
    text-align: right;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header img{
    width: 250px;
    position: relative;
    float: left;
    margin-top: -10px;
    margin-left: 15px;
    padding: 0px;
    cursor: pointer;
}

header a{
    color: #000529;
    margin-right: 10px;
    font-size: 22px;
}

header a:hover{
    color: #f9fff3;
}

body {
    top: 0;
    margin: 0;
    font-family: poppins;
    background-color: #f9fff3;
}


.background1 img{
    width: 100%;
}

.background1 .overlay {
    position: absolute;
    top: 48%;
    left: 16%;
    transform: translate(-50%, -50%);
    background-color: #f9fff3;
    padding: 10px;
    border-radius: 10px;
    color: #000529;
}

.overlay a{
    color: black;
}

.overlay a:hover{
    top: 48%;
    left: 15%;
    transform: translate(-50%, -50%);
    background-color: #f9fff3;
    padding: 5px;
    border-radius: 5px;
    color: #f2796e;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.tagline1{
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    color: #000529;
}

.pencarian{
    margin-bottom: 50px;
}

#tabelpencarian{
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #f2796e; 
    padding: 20px; 
}

#tabelpencarian td{
    padding: 15px;
}


.input {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    box-sizing: border-box;
}

.input:hover {
    border: 2px solid #f2796e;
    box-shadow: 0px 0px 20px -17px;
}
  
.input:active {
    transform: scale(0.95);
}
  
.input:focus {
    border: 2px solid #f2796e;
}

.ukuranposter{
    width: 300px;
    height: auto;
    margin-left: 10pt;
    margin-right: 10pt;
    border-radius: 10pt;
    padding: 5px;
    border: 1px solid #f2796e;
}

div.judulposter{
    margin-top: 10pt;
    margin-bottom: 70pt;
    text-align: center;
    font-size: 15px;
}

div.judulposter a{
    color: #000529;
}

div.judulposter a:hover{
    color: #f2796e;
}


footer{
    background-color: #5893a5;
    
    padding-bottom: 20px;
}



footer p{
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    margin: 0px;
    font-size: 25px;
}

footer table{
    text-align: center;
    margin: 0 auto;
}

footer .logososmed img{
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    background-color: #f9fff3;
    border-radius: 20px;
    padding: 10px;
}

#reg{
    margin-top: 15px;
    font-size: 15px;
    padding: 5px;
    font-weight: normal;
}

.konserterkini table {
    width: 80%;
    border-collapse: collapse;
}
.konserterkini td {
    padding: 10px;
    text-align: center;
}
.konserterkini img.ukuranposter {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.konserterkini table .judulposter {
    margin-top: 5px;
    margin-bottom: 20px;
}