header{
    background-color: #5893a5;
    padding: 30px;
    padding-right: 50px;
    text-align: right;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header img{
    width: 250px;
    position: relative;
    float: left;
    margin-top: -10px;
    margin-left: 15px;
    padding: 0px;
    cursor: pointer;
}

header a{
    color: #000529;
    margin-right: 10px;
    font-size: 22px;
    
}

header a:hover{
    color: #f9fff3;
}

body {
    top: 0;
    margin: 0;
    font-family: poppins;
    background-color: #f9fff3;
    text-align: center;
}

.tabelkonser{
    margin-left: 10px;
    float: left;
    max-width: 300px;
    height: 600px;
}

.tabelkonser td{
    text-align: left;
    margin: 0;
}

.tabelkonser td p{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tabelkonser td h4{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tabelkonser td h3{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tabelkonser img{
    width: 300px;
    height: auto;
    margin: 10px;
    margin-left: 7px;
    border-radius: 10pt;
    padding: 5px;
    border: 1px solid #f2796e;
    
}


.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 350px;
    margin-top: 20px;
    margin-right: 20px ;
}

.container table{
    margin : 0 auto;
}



.container button{
    margin-top: 20pt;
}

.jumlahtiket{
    background-color: #fff;
    padding: 20px;
    padding-top: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 350px;
    margin-top: 10px;
    margin-right: 20px ; 
}

.jumlahtiket table td h3{
    text-align: left;
    margin-top: 12px;
}


.ticket-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; 
}

.quantity-button {
    width: 30px; 
    height: 30px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc; 
    background-color: #f0f0f0; 
    cursor: pointer;
    font-size: 18px; 
}

.quantity-button:active {
    background-color: #ddd; 
}

input[type="text"] {
    width: 50px; 
    height: 30px; 
    text-align: center; 
    border: 1px solid #ccc; 
    background-color: #fff; 
    font-size: 18px; 
    outline: none;
}


.btn {
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 800;
    color: black;
    background-color: #f2796e;
    outline: #f2796e;
    margin-top: 25px;
    margin-left: 0px;
}


.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
   
   
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
   
   
.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
   
   
.btn::after {
    background-color: #fff;
}
   
   
.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}


.btn2 {
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 800;
    color: black;
    background-color: #228b22;
    outline: greenyellow;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 50px;
}


.btn2:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
   
   
.btn2:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
   
   
.btn2::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
   
   
.btn2::after {
    background-color: #fff;
}
   
   
.btn2:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.hargatiket{
    background-color: #fff;
    padding: 20px;
    padding-top: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 350px;
    margin-top: 10px;
    margin-right: 20px ; 
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: auto;
    text-align: left;
    margin-left: 350pt;
    margin-top: 30pt;
    padding: 40pt;
    padding-top: 70pt;
    margin-bottom: 20pt;
    
}

.container h1{
    width: 70%;
    text-align: center;
    border: #5893a5;
    border-style: solid;
    border-width: 5px;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #5893a5;
    margin-left: 12%;
    
}
.container img{
    width: 400pt;
    padding-top: 30pt;
}
.container button{
    margin-top: 20pt;
}
.container label{
    margin-left: 32%;
    font-weight: bold;
    font-size: large;
}

input[type="text"], input[type="date"], input[type="number"], input[type="tel"], input[type="email"] {
    width: 60%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 20%;
    text-align: left;
}


button {
    width: 50%;
    padding: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 25%;
}

button:hover {
    background-color: #218838;
}
footer{
    background-color: #5893a5;
    
    padding-bottom: 20px;
}



footer {
    background-color: #5893a5;
    padding: 10px 20px; /* Adjust padding for spacing */
    text-align: center;
}

footer p {
    margin: 10px 0; /* Adjust margin for spacing */
    font-size: 25px;
}

footer table {
    margin: 0 auto;
    text-align: center;
}

footer .logososmed img {
    width: 30px;
    margin: 0 10px;
    background-color: #f9fff3;
    border-radius: 20px;
    padding: 10px;
}